include LICENSE README.md 
global-include *.so addHtaut

graft pypka/G54A7
graft pypka/CHARMM36m
graft pypka/pdb2pqr
graft pypka/delphi4py

prune pypka/tests/
prune pypka/docs/
prune pypka/scripts/
prune __pycache__

global-exclude .vscode .circleci
global-exclude *.out .nfs*
exclude .gitignore