global-exclude __pycache__ .vscode .circleci
global-exclude *.py[co] *.out .nfs*
exclude .gitignore

include LICENSE README.md
include mc*.so addHtaut*
recursive-include G54A7
recursive-include CHARMM36m
recursive-include pdb2pqr
recursive-include delphi4py

recursive-exclude pypka/tests *
recursive-exclude pypka/docs *

