
//----------------------------------------------------/
// Body
//----------------------------------------------------/
body {
  overflow-x: hidden;
}



//----------------------------------------------------/
// Topbar
//----------------------------------------------------/

.topbar + .main-content {
  padding-top: $navbar-height;
}


//----------------------------------------------------/
// Sticky footer for small content pages
//----------------------------------------------------/
/*
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
*/