@charset 'UTF-8';

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Dosis:300,600');


// Core variables and mixins
//
@import "variables";
@import "mixins";



// Content
//
@import "content/typography";
@import "content/image";
@import "content/table";
@import "content/media";
@import "content/video";
@import "content/card";
@import "content/icon";



// UI Kit
//
@import "uikit/accordion";
@import "uikit/alert";
@import "uikit/badge";
@import "uikit/button";
@import "uikit/counter";
@import "uikit/constellation";
@import "uikit/dropdown";
@import "uikit/modal";
@import "uikit/nav";
@import "uikit/pagination";
@import "uikit/pricing";
@import "uikit/progress";
@import "uikit/scroll";
@import "uikit/social";
@import "uikit/spinner";
@import "uikit/tab";
@import "uikit/tooltip";
@import "uikit/rating";



// Plugins
//
@import "plugin/swiper";
@import "plugin/lity";



// Forms
//
@import "form/input";
@import "form/control";



// Blocks
//
@import "block/feature";
@import "block/partner";
@import "block/portfolio";
@import "block/press";
@import "block/shop";
@import "block/team";




// Layout
//
@import "layout/scafolding";
@import "layout/grid";
@import "layout/topbar";
@import "layout/mega-menu";
@import "layout/header";
@import "layout/drawer";
@import "layout/section";
@import "layout/sidebar";
@import "layout/footer";



// Utilities
//
@import "utility/border";
@import "utility/color";
@import "utility/bg-img";
@import "utility/misc";
@import "utility/no";
@import "utility/sizing";
@import "utility/spacing";
@import "utility/typography";

