

//-----------------------------------------------------------------
// Coloring
//

// Background colors
//
@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
    color: #fff;
  }
}

.bg-white         { background-color: #fff; }
.bg-inverse       { background-color: $color-dark; color: #fff; }
.bg-transparent   { background-color: transparent; }
.bg-secondary     { color: $color-text; }
.bg-lightest      { background-color: $color-bg-lightest; }
.bg-lighter       { background-color: $color-bg-lighter; }
.bg-light         { background-color: $color-bg-light; }
.bg-dark          { background-color: $color-bg-dark; }

.bg-grey, .bg-gray { background-color: $color-bg-gray; }


// Pale background colors
//
@each $name, $color in $colors-pale {
  .bg-pale-#{$name} {
    background-color: $color;
  }
}




// Text colors
//
@each $name, $color in $colors {
  .text-#{$name} {
    color: $color !important;
  }
}
.text-default     {color: $color-text !important;}
.text-muted       {color: $color-text-secondary !important;}
.text-light       {color: $color-text-light !important;}
.text-lighter     {color: $color-text-disable !important;}
.text-fade        {color: $color-alpha-dark-text-light !important;}
.text-transparent {color: transparent !important;}

// Link hover colors
a.text-primary    { @include link-colors-important($color-primary); }
a.text-secondary  { @include link-colors-important($color-secondary); }
a.text-info       { @include link-colors-important($color-info); }
a.text-success    { @include link-colors-important($color-success); }
a.text-warning    { @include link-colors-important($color-warning); }
a.text-danger     { @include link-colors-important($color-danger); }


// Hover color on hover
//
@each $name, $color in $colors {
  .hover-#{$name} {
    @include link-colors-important($color);
  }
}

.hover-white       { @include link-colors-important(#fff); }
.hover-muted       { @include link-colors-important($color-text-secondary); }
.hover-light       { @include link-colors-important($color-text-light); }
.hover-lighter     { @include link-colors-important($color-text-disable); }
.hover-fade        { @include link-colors-important($color-alpha-dark-text-light); }
.hover-transparent { @include link-colors-important(transparent); }

