{% extends 'layout.html' %}

{% block content %}
<!-- Header -->
<header class="header header-inverse h-fullscreen pb-80" style="background-color: #4f407b">
  <canvas class="constellation"></canvas>

  <div class="container text-center">

    <div class="row h-full">
      <div class="col-12 col-lg-8 offset-lg-2 align-self-center">

        <h1 class="display-1 hidden-sm-down">PypKa Server</h1>
        <h1 class="display-4 hidden-md-up">PypKa Server</h1>
        <br>
        <p class="fs-20 w-400 mx-auto hidden-sm-down">Flexible Poisson-Boltzmann based pK<sub>a</sub> calculations with proton tautomerism</p>
        <p class="fs-16 w-250 mx-auto hidden-md-up">Flexible Poisson-Boltzmann based pK<sub>a</sub> calculations with proton tautomerism</p>

        <hr class="w-80">
        <br>

        <a class="btn btn-xl btn-round btn-white w-200 hidden-sm-down" href="/run-pypka">Run PypKa</a>
        <a class="btn btn-lg btn-round btn-white w-200 hidden-md-up" href="/run-pypka">Run PypKa</a>

      </div>

      <div class="col-12 align-self-end text-center">
        <a class="scroll-down-1 scroll-down-inverse" href="#why" data-scrollto="section-intro"><span></span></a>
      </div>

    </div>

  </div>
</header>
<!-- END Header -->

<!-- Main container -->
<main class="main-content">









</main>
<!-- END Main container -->

<section class="section" style="margin: 30px 50px 100px;
box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
border: 1px solid #ebebeb;">
  <div class="container">
    <header class="section-header">
      <small>Features</small>
      <h2>Why should you use PypKa?</h2>
      <hr>
      <p class="lead"></p>
    </header>

    <div class="row gap-y">

      <div class="col-12 col-md-6 col-xl-4 feature-1">
        <p class="feature-icon text-dark"><i class="icon-grid"></i></p>
        <h5>Poisson–Boltzmann-based</h5>
        <p>Electrostatic-driven p<em>K</em><sub>a</sub> estimations</p>
      </div>


      <div class="col-12 col-md-6 col-xl-4 feature-1">
        <p class="feature-icon text-info"><i class="icon-search"></i></p>
        <h5>Open-source</h5>
        <p>Inspect the source code and hack it as you see fit.</p>
      </div>


      <div class="col-12 col-md-6 col-xl-4 feature-1">
        <p class="feature-icon"><i class="icon-attachment"></i></p>
        <h5>DNA, Membrane & Ions</h5>
        <p>Include background charges in your calculations.</p>
      </div>


      <div class="col-12 col-md-6 col-xl-4 feature-1">
        <p class="feature-icon text-warning"><i class="icon-layers"></i></p>
        <h5>Multiprocessing Capabilities</h5>
        <p>Exploit the linear scaling of pypka by deploying it in your computational cluster.</p>
      </div>


      <div class="col-12 col-md-6 col-xl-4 feature-1">
        <p class="feature-icon text-danger"><i class="icon-recycle"></i></p>
        <h5>Reusable & extensible</h5>
        <p>Integrate it with your own software or scripts.</p>
      </div>


      <div class="col-12 col-md-6 col-xl-4 feature-1">
        <p class="feature-icon text-success"><i class="icon-adjustments"></i></p>
        <h5>Flexible</h5>
        <p>All parameters used in the calculations are tweackable in the input data.</p>
      </div>

    </div>

  </div>
</section>

<section class="section py-150" style="background-image: url(static/img/library.jpg); background-size: cover;" data-overlay="7" id="why">
  <div class="container">

    <div class="section-dialog text-center">
      <h2>Citation</h2>
      <p>
        Are you using PypKa in your research? Please cite:<br>
        <code>Pypka article in JSIM</code>
      </p>

      </div>

  </div>
</section>

<section class="section pb-0 overflow-hidden hidden-sm-down">
  <div class="container">
    <header class="section-header">
      <small><strong>Statistics</strong></small>
      <h2>Fast and Accurate</h2>
      <hr>
      <p class="lead">Easily calculate p<em>K</em><sub>a</sub> values in your protein of interest with our server.</p>
    </header>

    <div class="row gap-y text-center">

      <div class="col-md-4 d-flex flex-column">
        <div class="mb-60">
          <p class="text-info fs-50 mb-0">2</p>
          <p>Force Field Choices</p>
        </div>
        <div class="px-20 mt-auto">
          <img class="shadow-4 opacity-80 aos-init aos-animate" src="static/img/demo/skype/tab-1.jpg" alt="..." data-aos="slide-up" data-aos-delay="300">
        </div>
      </div>

      <div class="col-md-4 d-flex flex-column">
        <div class="mb-7">
          <span class="text-info fs-50">40s</span><br>
          <p>Calculation on a 50 residue Protein</p>
        </div>
        <div class="mt-auto">
          <img class="shadow-6 aos-init aos-animate" src="static/img/demo/skype/tab-2.jpg" alt="..." data-aos="slide-up">
        </div>
      </div>

      <div class="col-md-4 d-flex flex-column">
        <div class="mb-7">
          <span class="text-info fs-50">0.3</span><br>
          <p>Average Error in a 500 residue dataset</p>
        </div>
        <div class="px-20 mt-auto">
          <img class="shadow-4 opacity-80 aos-init aos-animate" src="static/img/demo/skype/tab-3.jpg" alt="..." data-aos="slide-up" data-aos-delay="600">
        </div>
      </div>

    </div>

  </div>
</section>

<section class="section bg-gray text-center">

  <div class="row">
    <div class="col-12 offset-md-3 col-md-6">
      <p><img src="static/img/demo/bootstrap/github.png" alt="..."></p>
      <br>
      <h3 class="fw-900 mb-20">Fork the project on GitHub</h3>
      <p class="lead text-muted">Pypka is open source! It's developed and maintained on GitHub so that you can make it your own.</p>
      <br>
      <a class="btn btn-lg btn-round btn-success" href="#">View GitHub Project</a>
    </div>
  </div>

</section>
{% endblock %}