{% extends 'layout.html' %}

{% block content %}

<section class="section" id="section-name">
    <div class="container-fluid">
      <header class="section-header">
        <small><strong>Run it locally</strong></small>
        <h2 class="fs-60 hidden-sm-down">Hack it</h2>
        <h2 class="fs-30 hidden-md-up">Hack it</h2>
        <hr>
        <p class="lead">Do you have a particular set of parameters you would like to try?</p>
      </header>

      <p class="text-center">
        <a class="btn btn-lg btn-success w-250" href="#">Install Pypka</a><br>
        <small>Are you using Linux?<a href="#">pip install pypka</a></small>
      </p>
    </div>
  </section>
  {% endblock %}