

.sidebar {
  padding: 90px 20px;
}

.sidebar-sticky.stick {
  position: fixed;
  top: 20px;
}


.sidebar-title {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: .8em;
  margin-bottom: 16px;
}
